.component.container {
  padding: 2rem;
}

.component {
  p {
    font-size: 0.9rem;
  }

  &__one,
  &__two,
  &__three,
  &__four {
    margin-bottom: 6rem;

    img {
      margin-bottom: 2rem;
    }
  }
}

//  DESKTOP VERSION

@media (min-width: 980px) {
  .component.container {
    margin: 0 auto;
    width: 60rem;
  }
  .component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }
}
